* {
    margin: 0;
}

body {
    --primary-background: #1c2047;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--primary-background);
}

svg {
    height: auto;
    width: 100%;
}

.logo {
    z-index: 2;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    width: 15vw;
    min-width: 100px;
    background-color: var(--primary-background);
}

.App {
    --secondary-background: #5c6199;
    --primary-green: #41b853;
    --primary-red: #f40058;
    --primary-blue: #43bee5;
    --primary-purple: #9c19cc;
    --primary-orange: #efa500;
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}

.title-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    background-color: var(--primary-background);
    max-width: 50vw;
    z-index: 2;
    position: relative;
    top: 50px;
    color: var(--primary-orange);
    font-weight: normal;
    font-size: calc(10px + 8vmin);
}

.confetti {
    position: absolute;
    width: 10px;
    height: 20px;
    animation: confetti-movement 1s ease-in-out 0s infinite;
}

@keyframes confetti-movement {
    0% {transform: rotate(-180deg)}
    70% {transform: rotate(360deg)}
    100% {transform: rotate(360deg)}
}

#sidebar {
    position: fixed;
    top: 10vh;
    left: 72vw;
    height: 80vh;
    width: 25vw;
    max-width: 275px;
    background-color: var(--secondary-background);
    border: solid 2px black;
    transform: rotate(-6deg);
    animation: intro-sidebar 0.4s ease-in;
}

#talk-bubble {
    border: solid black 2px;
    left: 15vw;
    top: 29vh;
    max-width: 35rem;
    width: 40vw;
    height: calc(27vh + 150px);
    background: var(--secondary-background);
    position: absolute;
    border-radius: 5px;
    animation: intro-bubble 0.4s ease-in;
}

#talk-bubble-bubble {
    position: relative;
    left: 10.2vw;
    top: 25vh;
    height: auto;
    width: 10vw;
}

.create-poll-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.create-poll-form input[type="checkbox"] {
    min-width: 40px;
    min-height: 40px;
    width: 5vw;
    height: 5vw;
    margin-left: 20px;
    margin-top: 20px;
}

.create-poll-form input[type="text"] {
    padding-left: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: var(--secondary-background);
    border: none;
    border-bottom: solid var(--primary-background);
    color: var(--primary-orange);
    font-family: 'PT Sans', sans-serif;
    font-size: 200%;
    width: 100%;
}

.create-poll-form input[type="text"]::placeholder {
    color: #edc366;
}

.create-poll-item {
    display: flex;
    flex-direction: row;
}

.create-poll-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.create-poll-buttons button, .create-poll-buttons input[type="submit"] {
    background-color: transparent;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
}

.create-poll-buttons button:hover, .create-poll-buttons input[type="submit"]:hover {
    transform: scale(1.1);
}

.create-poll-buttons button#add {
    border: 2px solid var(--primary-green);
}

.create-poll-buttons button#remove {
    border: 2px solid var(--primary-red);
}

.create-poll-buttons input#submit {
    border: 2px solid var(--primary-orange);
}

.sidebar-content {
    /*transform: rotate(5deg);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

.sidebar-content h2 {
    color: var(--primary-orange);
    font-size: 2.5vw;
    margin-top: 10px;
}

.create-poll-sidebar-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    justify-content: center;
}

.create-poll-sidebar-form label {
    color: black;
    margin-top: 40px;
}

.create-poll-sidebar-form input[type="checkbox"] {
    width: 50px;
    height: 50px;
}


.create-poll-sidebar-form input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: solid var(--primary-background);
    color: var(--primary-orange);
    font-family: 'PT Sans', sans-serif;
    font-size: inherit;
    width: 90%;
}

.create-poll-sidebar-form input[type="text"]::placeholder {
    color: #edc366;
}

@keyframes intro-bubble {
    from {opacity: 0.25; transform: scale(0.75);}
    to {opacity: 1; transform: scale(1);}
}

@keyframes intro-sidebar {
    from {opacity: 0.25; transform: scale(0.75);}
    to {opacity: 1; transform: scale(1) rotate(-6deg);}
}

@media only screen and (max-width: 800px) {
    body {
        overflow-y: auto;
    }
    #sidebar {
        position: absolute;
        top: calc(40vh + calc(27vh + 150px));
        left: 20%;
        width: 60vw;
        max-width: none;
    }
    #talk-bubble {
        left: 10%;
        width: 80%;
    }
    .sidebar-content h2 {
        font-size: 5vw;
    }
    .create-poll-sidebar-form {
        font-size: 6vw;
    }
}