* {
    margin: 0;
}

body {
    overflow: hidden;
}

svg {
    height: auto;
    width: 100%;
}

.logo {
    z-index: 2;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    width: 15vw;
    background-color: var(--primary-background);
}

.App {
    --primary-background: #1c2047;
    --secondary-background: #5c6199;
    --primary-green: #41b853;
    --primary-red: #f40058;
    --primary-blue: #43bee5;
    --primary-purple: #9c19cc;
    --primary-orange: #efa500;

    background-color: var(--primary-background);
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;

}

.title-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    background-color: var(--primary-background);
    max-width: 50vw;
    z-index: 2;
    position: relative;
    top: 50px;
    color: var(--primary-orange);
    font-weight: normal;
    font-size: calc(10px + 8vmin);
}

.confetti {
    position: absolute;
    width: 10px;
    height: 20px;
}

#sidebar {
    position: fixed;
    top: 10vh;
    left: 75vw;
    height: 80vh;
    width: 20vw;
    max-width: 275px;
    background-color: var(--secondary-background);
    border: solid 2px black;
    transform: rotate(-8deg);
}

#talk-bubble {
    border: solid black 2px;
    left: 20%;
    top: 20vh;
    max-width: 35rem;
    width: 40vw;
    min-height: 40vh;
    background: var(--secondary-background);
    position: relative;
    border-radius: 5px;
}

#talk-bubble-bubble {
    position: relative;
    left: calc(20% - (40px + 6vw));
    top: calc(-8vw - 40px);
    height: auto;
    width: calc(40px + 7vw);
}
