.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  position: absolute;
  left: 20vw;
  margin: 0;
}

.App-header nav {
  position: absolute;
  right: 20vw;
}

.App-header nav a {
  color: red;
  padding-left: 1vw;
  padding-right: 1vw;
}

.body {
  min-height: 100vh;
  max-height: 100vh;
}

.poll {
  color: gray;
}

.App-link {
  color: #61dafb;
}

.poll-question {
  list-style-type: none;
  padding: 0;
  margin: 3rem 0 0 0;
}

.poll-question li {
  float: left;
  margin: 0 1rem 0 0;
  width: 25vw;
  max-width: 8rem;
  height: 3rem;
  position: relative;
}

.poll-question label, .poll-question input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.poll-question input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.poll-question input[type="radio"]:checked + label#no {
  background: rgba(255, 0, 0, 0.5);
}

.poll-question input[type="radio"]:checked + label#yes {
  background: rgba(0, 255, 0, 0.5);
}

.poll-question label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.poll-question label#no:hover {
  background: rgba(255, 0, 0, 0.15);
}

.poll-question label#yes:hover {
  background: rgba(0, 255, 0, 0.15);
}

.login-form input[type="text"]{
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 0 25px 0;
}

.login-form input[type="submit"] {
  width: 8rem;
  height: 3rem;
  border: 1px solid #CCC;
  color: black;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}